body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculadora {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 250px;
}

input {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  color: #f08dbb;
  background-color: white;
}

.botoes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  width: 100%;
  height: 50px;
  font-size: 20px;
  border: 2px solid #eee;
  border-radius: 8px;
  background: white;
  color: #f08dbb;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ffe6f0;
}

.botao-rosa {
  background-color: #f08dbb;
  color: white;
  grid-column: span 2;
}

.botao-rosa:hover {
  background-color: #e96ba5;
}
